$color-white: #fff;

$color-black: #000;

$color-gray: #b2b2ba;

$color-gray--dark: #80695c;

$color-brown--light: #f3d1bf;

$color-brown: #806354;

$color-brown--dark: #391400;

$color-blue: #3a3c56;
