@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,600;0,700;0,800;900;1,400&display=swap");

.text {
    font-family: "Epilogue", sans-serif;
    background-color: rgba(253, 240, 233, 1);
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
    }

    &__subtitle {
        font-size: 40px;
        font-weight: 800;
        padding-bottom: 33px;
        line-height: 48px;
        color: #391400;
        @media (min-width: 768px) {
            max-width: 570px;
            margin: 0 auto;
        }
    }

    &__paragraph {
        padding-bottom: 65px;
        color: rgba(57, 20, 0, 0.64);
        @media (min-width: 768px) {
            max-width: 570px;
            margin: 0 auto;
        }
    }
}
