.image {
    background-color: rgba(253, 240, 233, 1);
    display: flex;
    justify-content: center;
    padding-bottom: 84px;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-evenly;
        padding-left: 135px;
        padding-right: 135px;
    }

    &__img {
        width: 100%;
        @media (min-width: 768px) {
            width: 1170px;
            height: 726px;
        }
    }
}
