@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,600;0,700;0,800;900;1,400&display=swap");
@import "../../_base/index";

.portifolio-filter {
  @media (min-width: 769px) {
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdf0e9;
    padding: 3rem 0 0 0;
  }
  &__selecao {
    width: 16.5rem;
    height: 2.5rem;
    border-radius: 0.313rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    color: #391400a3;
    border: 1px solid $color-brown--light;
  }
}
