.header {
    margin: auto;

    &__nav-container {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__desktop {
        display: none;

        @media (min-width: 768px) {
            font-size: 16px;
            display: inline;
            padding: 0 60px;
            color: rgba(255, 255, 255, 1);
        }
    }

    &__item {
        font-size: 16px;
        display: inline;
        padding: 0 15px;
        color: rgba(255, 255, 255, 1);
    }
    &__anchor {
        padding: 12px 34px;
        border: 1px solid black;
        border-radius: 6px;
        color: white;
    }

    &__itens {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__mobile {
        justify-content: flex-end;
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__menu-container {
        width: 100%;
        margin-left: 30px;
    }

    &__hamburger {
        @media (min-width: 768px) {
            display: none;
            cursor: pointer;
        }
    }
}
