<<<<<<< HEAD
@import "../../_base/index";

.pricing {
  background-color: $color-secondary;
  padding-bottom: 5.75rem;

  padding: {
    top: 3.375rem;
    bottom: 4.875rem;
  }

  &__title {
    max-width: 22.5rem;
  }
}

.pricing__button--orange {
  @include typography();
  height: 1rem;
  padding: 1rem 2rem;
  background-color: $color-tertiary;
  color: $color-white;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-flex;
  display: flex;
  align-items: center;
  font-size: 1rem;
  @include boxShadow();

  @include border($style: none);
  &:hover {
    @include buttonHove($bg-color: $color-secondary, $color: $color-black);
  }
}

.pricing__button--white {
  @include typography();
  height: 1rem;
  padding: 1rem 2rem;
  background-color: $color-white;
  color: $color-brown--dark;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-flex;
  display: flex;
  align-items: center;
  font-size: 1rem;
  @include boxShadow();

  @include border($style: none);
  &:hover {
    @include buttonHove();
  }
}
=======

>>>>>>> 1f95b180d950d84b858e9a5cd647ce326c0f6b9a
