@use "../../_base/index"as*;

$padding-counter: 5.5rem;
$border-counter: 1px solid $color-brown--light;

.counter {
  border: $border-counter;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
  &__background {
    &--primary {
      padding: $padding-counter 0;
      background-color: $color-primary;
    }
    
    &--secondary {
      padding: $padding-counter 0;
      background-color: $color-secondary;
    }

    &--secondary-dark {
      padding: $padding-counter 0;
      background-color: $color-secondary--dark;
    }
  }

  @include for-size($screen-xl) {
    flex-direction: row;
  }
}