@import "../../_base/index";

.pricing {
  background-color: $color-secondary;
  padding-bottom: 5.75rem;

  padding: {
    top: 3.375rem;
    bottom: 4.875rem;
  }

  &__title {
    max-width: 22.5rem;
  }
}
