@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,600;0,700;0,800;900;1,400&display=swap");

.footer2 {
    padding-bottom: 64px;
    font-family: "Epilogue", sans-serif;
    text-align: center;
    background-color: #fdf0e9;

    @media (min-width: 768px) {
        text-align: center;
    }

    &__agency {
        padding-top: 105px;
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-evenly;
            padding-top: 80px;
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 51px;
        color: rgba(57, 20, 0, 1);
    }

    &__menu {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            gap: 130px;
        }
    }

    &__menu1 {
    }

    &__menu2 {
        @media (min-width: 768px) {
            display: inline;
        }
    }

    &__subtitle1 {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 3px;
        margin-bottom: 16px;
        text-transform: uppercase;
        color: #ef6d58;
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__list1 {
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 48px;
        color: rgba(57, 20, 0, 1);
    }
}

.footer3 {
    margin-top: 105px;
    font-family: "Epilogue", sans-serif;
    text-align: center;
    background-color: #fdf0e9;

    @media (min-width: 768px) {
        text-align: left;
    }
    &__subtitle2 {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 3px;
        margin-bottom: 16px;
        text-transform: uppercase;
        color: #ef6d58;
    }
    &__list2 {
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 52px;
        color: rgba(57, 20, 0, 1);
    }

    &__menu {
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__icons {
        padding-bottom: 64px;
    }
}

.footer4 {
    font-family: "Epilogue", sans-serif;
    background-color: #fdf0e9;
    text-align: center;
    border-top: 1px solid #f3d1bf;
    padding-top: 16px;
    margin-inline: 24px;
    padding-bottom: 16px;
    align-items: center;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        max-width: 1170px;
        margin-inline: auto;
    }
    &__paragraph2 {
        font-size: 16px;
        line-height: 32px;
        padding-top: 44px;
        margin-bottom: 32px;
        color: rgba(57, 20, 0, 0.64);
    }

    &__anchors {
        display: flex;
        justify-content: space-evenly;
        font-size: 16px;
        gap: 68px;
        line-height: 32px;
        color: rgba(57, 20, 0, 1);
    }
}
